body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.success-msg {
  color: #57A773;
  padding: 10px 15px;
}


.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

.cherokee {
width: 100%;
height: auto;
}

.navbar{
background-color: #000000;
}



.video {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.mike {
align: center;
width: 100%;
height: auto;
}

.display-4  {
text-align: center;
}

.drum {
align: center;
width: 100%;
height: auto;
}

.welcome {
text-align: center;
}

.mikeSnare {
align: center;
width: 100%;
height: auto;
margin-top: 50px;
}

.firedog {
align: center;
width: 100%;
height: auto;
margin-top: 50px;
}

.beth {
margin-top: 50px;
}
h3 {
text-align: center;
}

